body {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #e4e5e5;
    font-family: Verdana, sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    line-height: 1.53em;
    letter-spacing: 0;

}
h1 {
    display: block;
    font-weight: bold;
    color: #243541;
    font-size: 24px;
    margin: 34px 0 25px;
}

#system_logo {
    height: 120px;
    background-color: #091A33;
}

form {
    display: inline-block;
    background-color: #f7f7f7;
    padding: 22px 25px;
    border: 1px solid #56b9ff;
    margin-bottom: 15px;
    /*width: 300px;*/
}
.form_group {
    text-align: left;
    margin-bottom: 12px;
}
.form_group label {
    display: inline-block;
    width: auto;
    margin-right: 20px;
    font-weight: 300;
    float: left;
}
.form_group input {
    height: 24px;
    width: 100%;
    padding: 0 5px;
    background: #fff;
    border: 1px solid #d0d0d0;
}
.inner {
    overflow: hidden;
}
input:focus {
    outline: none;
}
.button {
    background: #ffcc00;
    margin-top: 10px;
    border: none;
    border-radius: 2px;
    padding: 9px 20px;
    font-size: 16px;
    color:#353b3e;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.button:hover {
    color: #fff;
    background: #56b9ff;
}
.message_error, .message_ok {
    padding: 12px;
    color: #fff;
    margin-bottom: 20px;
}
.message_error {
    background-color: #a70606;
}
.message_ok {
    background-color: #137725;
}
.recovery {
    color: #243541;
    margin-right: 5px;
}
.recovery:hover {
    text-decoration: none;
}

p {
    font-size: 19px;
}

#footer {
    position: absolute;
    width: 200px;
    margin: 0 45%;
    bottom: 10px;
}